.image67Icon {
  position: absolute;
  top: calc(50% - 8614px);
  left: calc(50% - 743.5px);
  width: 1474px;
  height: 1015px;
  object-fit: cover;
}
.desafios7Icon,
.whatsappImage20230715At8 {
  position: absolute;
  top: 943px;
  left: 258.8px;
  width: 266.9px;
  height: 369px;
  object-fit: cover;
  cursor: pointer;
}
.desafios7Icon {
  top: 1481px;
  width: 264.9px;
  height: 393px;
}
.buscandoEquillibrio6,
.images3Icon,
.whatsappImage20230727At5 {
  position: absolute;
  top: 2043px;
  left: 261.8px;
  width: 263.9px;
  height: 390px;
  object-fit: cover;
  cursor: pointer;
}
.images3Icon,
.whatsappImage20230727At5 {
  top: 2606px;
  width: 261.8px;
  height: 372px;
}
.images3Icon {
  top: 3150px;
  left: 266.9px;
  width: 258.8px;
  height: 360px;
}
.gestaoComhecimento7 {
  top: 3681px;
  height: 364px;
  cursor: pointer;
}
.capaCraquesCorte2Page,
.gestaoComhecimento7,
.images11 {
  position: absolute;
  left: 266.9px;
  width: 262.8px;
  object-fit: cover;
}
.images11 {
  top: 4222px;
  height: 371px;
  cursor: pointer;
}
.capaCraquesCorte2Page {
  top: 4813px;
  height: 364px;
}
.capaAlmanaqueDoClassicoReiIcon,
.capaTripliceCoroa1Page0Icon {
  position: absolute;
  top: 5349px;
  left: 266.9px;
  width: 259.8px;
  height: 355px;
  object-fit: cover;
}
.capaAlmanaqueDoClassicoReiIcon {
  top: 5873px;
  left: 265.9px;
  width: 258.8px;
  height: 377px;
  cursor: pointer;
}
.capaAlmanaqueDoFortalezaFiIcon,
.image7Icon {
  position: absolute;
  top: 6419px;
  left: 266.9px;
  width: 271px;
  height: 371px;
  object-fit: cover;
}
.capaAlmanaqueDoFortalezaFiIcon {
  top: 6961px;
  width: 260.8px;
  height: 380px;
  cursor: pointer;
}
.capa50AnosTituloPaulistaPIcon {
  position: absolute;
  top: 8038px;
  left: 265.9px;
  width: 259.8px;
  height: 380px;
  object-fit: cover;
}
.classicos4Icon,
.o1Icon,
.whatsappImage20230719At1 {
  position: absolute;
  top: 8588px;
  left: 266.9px;
  width: 262.8px;
  height: 370px;
  object-fit: cover;
}
.classicos4Icon,
.o1Icon {
  top: 9127px;
  left: 265.9px;
  height: 386px;
}
.o1Icon {
  top: 9682px;
  left: 267.9px;
  width: 257.7px;
  height: 338px;
}
.campeonatoBrasileiro5,
.copasDoMundo6,
.distintivos8Icon {
  position: absolute;
  top: 10189px;
  left: 265.9px;
  width: 257.7px;
  height: 381px;
  object-fit: cover;
}
.campeonatoBrasileiro5,
.copasDoMundo6 {
  top: 10739px;
  width: 262.8px;
  height: 359px;
}
.copasDoMundo6 {
  top: 11267px;
  width: 257.7px;
  height: 347px;
  cursor: pointer;
}
.clubesFutebol16,
.whatsappImage20230727At51 {
  position: absolute;
  top: 11783px;
  left: 265.9px;
  width: 261.8px;
  height: 380px;
  object-fit: cover;
}
.clubesFutebol16 {
  top: 12332px;
  left: 266.9px;
  width: 262.8px;
  height: 338px;
}
.oObjetivoDo {
  margin: 0;
}
.aPartirDeContainer,
.aoLongoDeContainer,
.oObjetivoDoContainer {
  position: absolute;
  width: 38.19%;
  top: 939px;
  left: 41.25%;
  letter-spacing: 0.01em;
  font-weight: 300;
  display: inline-block;
}
.aPartirDeContainer,
.aoLongoDeContainer {
  width: 39.79%;
  top: 1481px;
}
.aoLongoDeContainer {
  width: 41.11%;
  top: 2043px;
}
.aGestoDoContainer,
.esteLivroContainer,
.oFutebolMaisContainer,
.significativaAImportnciaContainer,
.umaPreocupaoConstanteContainer {
  position: absolute;
  width: 41.11%;
  top: 2605px;
  left: 41.25%;
  letter-spacing: 0.01em;
  font-weight: 300;
  display: inline-block;
}
.aGestoDoContainer,
.esteLivroContainer,
.oFutebolMaisContainer,
.umaPreocupaoConstanteContainer {
  top: 3147px;
}
.aGestoDoContainer,
.oFutebolMaisContainer,
.umaPreocupaoConstanteContainer {
  top: 3677px;
}
.aGestoDoContainer,
.oFutebolMaisContainer {
  width: 38.82%;
  top: 4222px;
}
.oFutebolMaisContainer {
  top: 4805px;
  left: 41.46%;
}
.campeoPaulistaDeContainer,
.campeoPaulistaSulAmericanContainer,
.emMeioDeContainer {
  position: absolute;
  width: 41.11%;
  top: 5345px;
  left: 41.25%;
  letter-spacing: 0.01em;
  font-weight: 300;
  display: inline-block;
}
.campeoPaulistaDeContainer,
.emMeioDeContainer {
  top: 5867px;
}
.campeoPaulistaDeContainer {
  top: 6418px;
}
.aRealizaoDoContainer,
.asAtuaesExuberantesContainer,
.meuTioBisavAlcidesContainer,
.oQueContainer,
.trataSeDeUmContainer {
  position: absolute;
  width: 41.11%;
  top: 6965px;
  left: 41.25%;
  letter-spacing: 0.01em;
  font-weight: 300;
  display: inline-block;
}
.aRealizaoDoContainer,
.asAtuaesExuberantesContainer,
.oQueContainer,
.trataSeDeUmContainer {
  top: 8037px;
}
.aRealizaoDoContainer,
.oQueContainer,
.trataSeDeUmContainer {
  top: 8588px;
  left: 41.11%;
}
.aRealizaoDoContainer,
.oQueContainer {
  width: 39.79%;
  top: 9127px;
}
.aRealizaoDoContainer {
  width: 41.11%;
  top: 9682px;
}
.aHistriaDoContainer,
.comoGrandeFContainer,
.esteLivroFoiContainer,
.esteOContainer,
.luizFernandoBindiContainer,
.meuTioEContainer {
  position: absolute;
  width: 41.11%;
  top: 10189px;
  left: 41.11%;
  letter-spacing: 0.01em;
  font-weight: 300;
  display: inline-block;
}
.aHistriaDoContainer,
.comoGrandeFContainer,
.esteLivroFoiContainer,
.esteOContainer,
.meuTioEContainer {
  top: 10739px;
}
.comoGrandeFContainer,
.esteLivroFoiContainer,
.esteOContainer,
.meuTioEContainer {
  top: 11264px;
}
.esteLivroFoiContainer,
.esteOContainer,
.meuTioEContainer {
  top: 11783px;
}
.esteLivroFoiContainer,
.meuTioEContainer {
  top: 12332px;
}
.meuTioEContainer {
  top: 7489px;
  left: 41.25%;
}
.artigosPublicaesChild {
  position: absolute;
  top: -2206px;
  left: 11440px;
  width: 1454px;
  height: 1037px;
}
.participouComoAutor {
  position: absolute;
  top: 744px;
  left: calc(50% - 430.9px);
  font-weight: 300;
  width: 910.8px;
  height: 69px;
}
.autorDeCentenasContainer,
.gesto,
.participouComoAutor {
  letter-spacing: 0.01em;
  display: inline-block;
}
.autorDeCentenasContainer {
  position: absolute;
  top: calc(50% - 6355px);
  left: calc(50% - 439.5px);
  font-weight: 300;
  width: 839px;
}
.gesto {
  top: calc(50% - 5729px);
  left: calc(50% - 89.7px);
  font-weight: 600;
  width: 140.6px;
}
.artigosPublicaes1,
.futebol,
.gesto {
  position: absolute;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.futebol {
  width: 10.83%;
  top: 4711px;
  left: 41.18%;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
}
.artigosPublicaes1 {
  top: 86px;
  left: calc(50% - 179.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 359.6px;
}
.capaBiografiaFernandoSatiroIcon {
  position: absolute;
  top: 7494px;
  left: 266.9px;
  width: 258.8px;
  height: 374px;
  object-fit: cover;
  cursor: pointer;
}
.vectorIcon {
  position: absolute;
  width: 53.24%;
  right: 23.38%;
  bottom: 255px;
  left: 23.38%;
  max-width: 100%;
  overflow: hidden;
  height: 100px;
  cursor: pointer;
}
.artigosPublicaesItem {
  position: absolute;
  top: calc(50% - 6187px);
  left: calc(50% - 128.4px);
  border-radius: var(--br-150xl-5);
  width: 255.7px;
  height: 251px;
  object-fit: cover;
}
.carbonarrowUpIcon {
  position: absolute;
  width: 4.03%;
  right: 48.05%;
  bottom: 72px;
  left: 47.92%;
  max-width: 100%;
  overflow: hidden;
  height: 58px;
  cursor: pointer;
}
.jrsantiago {
  position: absolute;
  width: 9.1%;
  top: calc(50% - 5913px);
  left: 45.42%;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vectorIcon1 {
  width: 40px;
  position: relative;
  height: 34px;
}
.iconParkOutlineback {
  position: absolute;
  top: 86px;
  right: 177px;
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-9xs);
  box-sizing: border-box;
  cursor: pointer;
}
.artigosPublicaes {
  width: 100%;
  position: relative;
  background-color: var(--color-steelblue);
  height: 13112px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
